/* CSS declarations go here */

* {
	box-sizing: border-box;
}

html {
	background-image: -moz-linear-gradient( 90deg, rgb(100,3,146) 0%, rgb(157,8,227) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(100,3,146) 0%, rgb(157,8,227) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(100,3,146) 0%, rgb(157,8,227) 100%);
	background-size: cover;
	color:#EEE;
	height: 100%;
}

a {
	color:#EEE;
}
